@model RealStateManager.ViewModels.ServiceApprovedViewModel
@{
    ViewData["Title"] = "Approve the Service " + Model.Name;
}

<div class="form">
    <div class="collection with-header">
        <form asp-action="ApproveService">
            <div class="collection-header green darken-3">
                <h6 class="white-text">Aproving Service @Model.Name</h6>
            </div>

            <div class="collection-item">
                <div asp-validation-summary="ModelOnly" class="red-text text-darken-4"></div>

                <input type="hidden" asp-for="ServiceId" />

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="ExecutionDate" type="text" class="validate" id="date" />
                        <label asp-for="ExecutionDate" id="date"></label>
                        <span class="red-text text-darken-4" asp-validation-for="ExecutionDate"></span>
                    </div>
                </div>
            </div>

            <div class="collection-item">
                <button type="submit" class="btn-small green darken-3">Save</button> &emsp;
                <a asp-action="Index" asp-controller="Services">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/InitializeDatepicker.min.js"></script>
}