@model RealStateManager.BLL.Models.Service

@{
    ViewData["Title"] = "Updating Service " + Model.Name;
}


<div class="form">
    <div class="collection with-header">
        <form asp-action="Edit">
            <div class="collection-header blue darken-3">
                <h6 class="white-text">Updating Service</h6>
            </div>

            <div class="collection-item">
                <div asp-validation-summary="ModelOnly" class="red-text text-darken-4"></div>

                <input type="hidden" asp-for="ServiceId" />

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Name" class="validate" id="name" />
                        <label asp-for="Name" id="name"></label>
                        <span class="red-text text-darken-4" asp-validation-for="Name"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Value" class="validate" id="value" />
                        <label asp-for="Value" id="value"></label>
                        <span class="red-text text-darken-4" asp-validation-for="Value"></span>
                    </div>
                </div>

                <input type="hidden" asp-for="UserId" />
            </div>

            <div class="collection-item">
                <button type="submit" class="btn-small blue darken-3">Updating</button> &emsp;
                <a asp-action="Index" asp-controller="Services">Back</a>
            </div>
        </form>
    </div>
</div>
