@{
    Layout = null;
    ViewData["Title"] = "Access Denied";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <environment include="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </environment>
    <title>Access Denied</title>
</head>
<body class="white-text red darken-2 container" style="position:absolute;top:40%;left:20%">
    <div>
        <h1>Lack of user access</h1>
        <h5>Olá, @User.Identity.Name ! Unfortunately you don't have the user profile to perform this action.</h5>
    </div>
</body>
</html>
