@model RealStateManager.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Redefine Password";
}

<div class="collection with-header">
    <div class="collection-header">
        <h5>Redifine your password</h5>
    </div>
    <form asp-action="RedifinePassword">
        <div class="collection-item">
            <div asp-validation-summary="ModelOnly" class="red-text text-darken-4"></div>
            <div class="row">
                <div class="col s12">
                    <div class="blue-text text-darken-3">Hello, @Model.Email! On your first access you must reset your password</div>
                    <input type="hidden" asp-for="Email" />
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <input asp-for="Password" type="password" class="validate" id="password" />
                    <label asp-for="Password" id="senha"></label>
                    <span asp-validation-for="Password" class="red-text text-darken-4"></span>
                </div>
            </div>
        </div>
        <div class="collection-item">
            <button type="submit" class="waves-effect waves-light btn-small green darken-4">Redefine</button>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

