.fullBody {
    background-color: #1565c0;
    width: 100%;
    height: 100%;
}

.registrationForm {
    position: absolute;
    width: 40%;
    height: 1050px;
    z-index: 15;
    top: 40%;
    left: 50%;
    margin: -200px 0 0 -300px;
    background-color: white;
    padding-bottom: 35px;
    padding-top: 35px;
    padding-right: 35px;
    padding-left: 35px;
}