@model RealStateManager.BLL.Models.Function

@{
    ViewData["Title"] = "Update Function " + Model.Name;
}



<div class="form">
    <div class="collection with-header">
        <form asp-action="Edit">
            <div class="collection-header blue darken-3">
                <h6 class="white-text">Update Function @Model.Name</h6>
            </div>

            <div class="collection-item">
                <div asp-validation-summary="ModelOnly" class="red-text text-darken-4"></div>

                <input type="hidden" asp-for="Id" />

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Name" class="validate" id="name" />
                        <label asp-for="Name" id="name"></label>
                        <span class="red-text text-darken-4" asp-validation-for="Name"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Description" class="validate" id="description" />
                        <label asp-for="Description" id="description"></label>
                        <span class="red-text text-darken-4" asp-validation-for="Description"></span>
                    </div>
                </div>
            </div>

            <div class="collection-item">
                <button type="submit" class="btn-small blue darken-3">Updating</button> &emsp;
                <a asp-action="Index" asp-controller="Functions">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}