<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RealStateManager</title>
    <environment include="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="~/css/site.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <header>
        <nav class="grey darken=3">
            <div class="nav-wraper navbar-fixed">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="nav=item"><a class="nav-link" asp-controller="Events" asp-action="Index">Events</a></li>
                    <li class="nav=item"><a class="nav-link" asp-controller="Services" asp-action="Index">Services</a></li>
                    <li class="nav=item"><a class="nav-link" asp-controller="User" asp-action="MyInformations">My Informations</a></li>
                    <li class="nav=item"><partial name="_Logout" /></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="main-content">
        <div class="body-content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - RealStateManager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
        <script src="~/js/InitializeTooltips.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="~/js/InitializeTooltips.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </environment>
</body>
</html>
