<div class="modal modal-fixed-footer" id="modal">
    <div class="modal-content">
        <h6>Deleting records</h6>
        <p>Proceed with deleting of <text class="name"></text> ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-small red darken-4 btnDelete">Yes</button>
        <button type="button" class="btn-small blue darken-4 modal-close">No</button>
    </div>
</div>
